{% extends 'base.html.twig' %}


{% block title %}World's friends
{% endblock %}
{% block body %}
	<div>
		{# implantation de mes composants React #}
		<div id="app"></div>
		{# implantation de la map #}
		<div id="map"></div>
	</div>
{% endblock %}
